.App_header {
  grid-area: header;
  background-color: #282c34;
  min-height: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 0 0 4px 4px;
  display: grid;
  grid-template-columns: 80px 240px 1fr 1fr;
  align-items: center;
}

.App_logo {
  height: 60px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App_logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App_header h4 {
  justify-self: start;
  color: #61DAFB;
}

.auth {
  justify-self: end;
  padding-right: 20px;
}