body {
  background: #a9a9a9;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 150px 10fr;
  grid-template-areas:
    'header header'
    'sidebar content';
  grid-gap: 10px;
}

.content {
  grid-area: content;
  background: #fff;
  border-radius: 4px;
  padding: 5px;
  position: relative;
  position: relative;
}
