.find_user {
    padding: 15px 15px;
    display: grid;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5px 10px 10px 5px;
}

.pastLink {
    text-decoration: none;
    color: #232424;
    padding: 6px 12px;
    width: 28px;
    border: 1px solid #fff;
    transition: all .2s ease;
}

.pastLink:hover {
    border-bottom: 1px solid #232424;
}